<%- include('partials/header') %>

    <div class="bg-gray-50 min-h-screen py-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-4xl font-extrabold text-[#002845] mb-8 text-center uppercase tracking-wider">About NSMOSA
            </h1>
            <div class="bg-white rounded-lg shadow-lg p-8 text-gray-700 leading-relaxed text-xl space-y-4">
                <p class="mb-6">
                    NSM School aims at the training of young men and women of quality to be leaders in all walks of life
                    and to serve society in justice, truth and service. It is expected that this training will play a
                    vital role in bringing about a just social order in our country.
                </p>
                <p>
                    The Old Students Association (NSMOSA) is a vibrant community that connects alumni from across the
                    globe,
                    fostering lifelong relationships and supporting the alma mater in its mission.
                </p>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>